<form class="container">
  <mat-form-field appearance="outline">
    <mat-label>Select Company Name</mat-label>
    <mat-select
      [formControl]="companyNameFormControl"
      (selectionChange)="onCompanySelectionChange($event.value)"
    >
      <div *ngFor="let company of companyCollection">
        <mat-option [value]="company">{{ company.companyName }}</mat-option>
      </div>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter Product Name</mat-label>
    <input
      matInput
      oninput="this.value = this.value.toUpperCase()"
      type="text"
      [formControl]="productNameFormControl"
    />
  </mat-form-field>

  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="onAddProduct()"
  >
    Add Product
  </button>
</form>

<ag-grid-angular
  style="width: 100%; height: 600px"
  [rowData]="collection"
  [columnDefs]="colDefs"
  [defaultColDef]="defaultColDef"
  [components]="frameworkComponents"
  [gridOptions]="gridOptions"
  class="ag-theme-quartz"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
