<mat-drawer-container class="example-container" [hasBackdrop]="true" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <app-recovery></app-recovery>
  </mat-drawer>

  <div class="example-sidenav-content">
    <form
      [formGroup]="storeRouteService.billFormGroup"
      #billFormDirective="ngForm"
    >
      <mat-form-field appearance="outline">
        <mat-label>Route Name</mat-label>
        <mat-select
          formControlName="route"
          (selectionChange)="
            storeRouteService.onRouteSelectionChange($event.value)
          "
        >
          <div *ngFor="let route of storeRouteService.routeCollection">
            <mat-option value="{{ route.routeName }}">{{
              route.routeName
            }}</mat-option>
          </div>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Store Name</mat-label>
        <input
          type="text"
          formControlName="storeName"
          matInput
          oninput="this.value = this.value.toUpperCase()"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          [displayWith]="storeRouteService.displayFn"
          (optionSelected)="
            storeRouteService.onStoreSelected($event.option.value)
          "
        >
          <mat-option
            *ngFor="let option of storeRouteService.filteredOptions | async"
            [value]="option"
          >
            {{ option.storeName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Shop Address</mat-label>
        <textarea readonly="true" matInput formControlName="address"></textarea>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bill Number</mat-label>
        <input matInput formControlName="billNumber" toUppercase />
      </mat-form-field>

      <mat-form-field appearance="outline">
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="billDate"
          placeholder="Choose a date"
        />
        <mat-hint>DD/MM/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Bill Amount</mat-label>
        <input matInput type="number" formControlName="billAmount" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="example-full-width">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!(!storeRouteService.billFormGroup.invalid && !isClicked)"
        (click)="onAddBill()"
      >
        {{ buttonText }}
      </button>
    </form>

    <div class="content">
      <ag-grid-angular
        style="width: 100%; height: 600px"
        [rowData]="collection"
        [columnDefs]="colDefs"
        [defaultColDef]="defaultColDef"
        [components]="frameworkComponents"
        [gridOptions]="gridOptions"
        class="ag-theme-quartz"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</mat-drawer-container>
