<p>
  <mat-form-field appearance="outline">
    <mat-label>Select Route</mat-label>
    <mat-select>
      <mat-option value="barshi">Barshi</mat-option>
      <mat-option value="ter">Ter</mat-option>
      <mat-option value="kalamb">Kalamb</mat-option>
      <mat-option value="Dhoki">Dhoki</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Select Store</mat-label>
    <mat-select>
      <mat-option value="kirana">kirana</mat-option>
      <mat-option value="medical">medical</mat-option>
      <mat-option value="cosmatic">cosmatic</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <button mat-raised-button color="primary" routerLink="/dashboard">Search</button>
</p>
