<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter Mobile Number</mat-label>
    <input matInput placeholder="Enter Mobile No.">
    <mat-icon matSuffix>phone</mat-icon>
    <mat-hint>Enter 10 digit mobile number.</mat-hint>
  </mat-form-field>
</p>
<p>
  <mat-form-field appearance="outline">
    <mat-label>Enter Password</mat-label>
    <input matInput placeholder="Enter Password" [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
</p>

<p>
  <button mat-raised-button color="primary" routerLink="/dashboard">Login</button>
</p>



