<p style="margin-top: 10px">
  <mat-form-field appearance="outline">
    <mat-label>Select Page...</mat-label>
    <mat-select
      (selectionChange)="onSelectionChange($event.value)"
      [formControl]="selectedValue"
    >
      <mat-option value="expense">Expense</mat-option>
      <mat-option value="attendance">Attendance</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="line"><mat-divider></mat-divider></div>
</div>

<router-outlet></router-outlet>
