<form [formGroup]="billFormGroup">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Enter Bill Number to update</mat-label>
      <input matInput [formControl]="billFormBillNoControl" toUppercase />
    </mat-form-field>
  </p>

  <p>
    <button
      mat-raised-button
      color="primary"
      type="button"
      (click)="searchBill()"
    >
      Search Bill
    </button>
  </p>

  <br />
  <br />

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Bill Number</mat-label>
      <input matInput formControlName="billNumber" toUppercase />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="billDate"
        placeholder="Choose a date"
      />
      <mat-hint>DD/MM/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Bill Amount</mat-label>
      <input
        matInput
        type="number"
        formControlName="billAmount"
        (keyup)="onBillAmountChange()"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Pending Amount</mat-label>
      <input
        matInput
        [readonly]="true"
        type="number"
        formControlName="pendingAmount"
      />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
  </p>

  <p align="center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="billFormGroup.invalid"
      (click)="onUpdateBill()"
    >
      Update Bill
    </button>
  </p>
</form>
