<form [formGroup]="shopFormGroup">
  <p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Select Store to Update details</mat-label>
      <input
        type="text"
        [formControl]="billStoreControl"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onStoreSelected($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.storeName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Store Name</mat-label>
      <input type="text" formControlName="storeName" matInput />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Shop Address</mat-label>
      <textarea matInput formControlName="address"></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Mobile Number</mat-label>
      <input matInput type="number" formControlName="mobileNo" />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline">
      <mat-label>Alternate Mobile Number</mat-label>
      <input matInput type="number" formControlName="altMobileNo" />
    </mat-form-field>
  </p>

  <p align="center">
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="shopFormGroup.invalid"
      (click)="onUpdateStore()"
    >
      Update Store
    </button>
  </p>
</form>
