<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/"
        *ngIf="!isAuthenticate"
        (click)="drawer.toggle()"
        >Login</a
      >
      <a
        mat-list-item
        routerLink="/dashboard"
        *ngIf="isAuthenticate"
        (click)="drawer.toggle()"
        >Dashboard</a
      >
      <a
        mat-list-item
        routerLink="/dataentry"
        *ngIf="isAuthenticate && isAdmin"
        (click)="drawer.toggle()"
        >Data Entry</a
      >
      <a
        mat-list-item
        routerLink="/editinfo"
        *ngIf="isAuthenticate && isAdmin"
        (click)="drawer.toggle()"
        >Edit Data</a
      >
      <a
        mat-list-item
        routerLink="/delete"
        *ngIf="isAuthenticate && isAdmin"
        (click)="drawer.toggle()"
        >Delete Data</a
      >
      <a
        mat-list-item
        routerLink="/recovery"
        *ngIf="isAuthenticate"
        (click)="drawer.toggle()"
        >Recovery</a
      >
      <a
        mat-list-item
        routerLink="/search"
        *ngIf="isAuthenticate"
        (click)="drawer.toggle()"
        >Search</a
      >

      <a
        mat-list-item
        routerLink="/expense"
        *ngIf="isAuthenticate && isAdmin"
        (click)="drawer.toggle()"
        >Expense</a
      >
      <!-- <a
        mat-list-item
        routerLink="/orders"
        *ngIf="isAuthenticate && isAdmin"
        (click)="drawer.toggle()"
        >Orders</a
      > -->
      <a
        mat-list-item
        *ngIf="isAuthenticate"
        (click)="drawer.toggle(); openDeleteConfimationDialog()"
        >Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ username }}</span>
      <span class="spacer"></span>
      <div [class.hidden]="isHandset$ | async">
        <a
          mat-button
          *ngIf="!isAuthenticate"
          routerLink="/"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="active-link"
          >Login</a
        >
        <a
          mat-button
          routerLink="/dashboard"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate"
          >Dashboard</a
        >
        <a
          mat-button
          routerLink="/dataentry"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate && isAdmin"
          >Data Entry</a
        >
        <a
          mat-button
          routerLink="/editinfo"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate && isAdmin"
          >Edit Data</a
        >
        <a
          mat-button
          routerLink="/delete"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate && isAdmin"
          >Delete Data</a
        >
        <a
          mat-button
          routerLink="/recovery"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate"
          >Recovery</a
        >
        <a
          mat-button
          routerLink="/search"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate"
          >Search</a
        >
        <a
          mat-button
          routerLink="/expense"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate && isAdmin"
          >Expense</a
        >
        <!-- <a
          mat-button
          routerLink="/orders"
          routerLinkActive="active-link"
          *ngIf="isAuthenticate && isAdmin"
          >Orders</a
        > -->

        <a
          mat-button
          *ngIf="isAuthenticate"
          routerLinkActive="active-link"
          (click)="openDeleteConfimationDialog()"
          >Logout</a
        >
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
