mat-form-field
{
  width: 20em;
  margin-left: 1em;
}

.negativeValue{
  color: red;
  font-size: large;
}

.positiveValue {
  color: black;
}

.highlight {
  background: #bff3c2;
}

.mat-form-field-custome
{
width: 15em;
  margin-left: 1em;
}
