mat-form-field
{
  width: 20em;
  margin-left: 1em;
}

.negativeValue{
  color: red;
  font-size: large;
}

.positiveValue {
  color: black;
}

.selected-row-highlight {
  background: #bff3c2;
}

.mat-form-field-custome
{
width: 15em;
  margin-left: 1em;
}

.full-paid-bill-row-highlight
{
  background: #61ed66;
}

.paid-bill-row-selected-highlight {
  background: #58dd68;
}

.partial-paid-bill-row-selected-highlight {
  background: #f68a82;
}
