
button {
  width: 25em;
  margin-left: 2em;
}

mat-form-field
{
  margin-left: 2em;
}

tr.mat-footer-row td ,
tr.mat-header-row th{
  font-weight: bold;
    color: black;
    font-size: small;
    background-color: lightgreen;
}
