<div class="centerFlex">
  <div style="margin-top: 10px">
    <mat-form-field appearance="outline">
      <mat-label>Choose Month</mat-label>
      <mat-select
        (selectionChange)="onSelectionChange($event.value, 'month')"
        [formControl]="selectedMonth"
      >
        <div *ngFor="let month of monthCollection">
          <mat-option value="{{ month }}">{{ month }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="left-margin-10px" appearance="outline">
      <mat-label>Choose Year</mat-label>
      <mat-select
        (selectionChange)="onSelectionChange($event.value, 'year')"
        [formControl]="selectedYear"
      >
        <div *ngFor="let year of yearCollection">
          <mat-option value="{{ year }}">{{ year }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="content">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular
    style="width: 100%; height: 350px"
    [rowData]="salesmanCollection"
    [columnDefs]="colDefsSalesman"
    [defaultColDef]="defaultColDef"
    [components]="frameworkComponents"
    [gridOptions]="gridOptions"
    class="ag-theme-quartz"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<div class="content">
  <ag-grid-angular
    style="width: 100%; height: 600px"
    [rowData]="collection"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [components]="frameworkComponents"
    [gridOptions]="gridOptions"
    class="ag-theme-quartz"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
