<!-- <mat-form-field
  appearance="outline"
  class="mat-form-field-custome"
  class="centerFlex"
>
  <mat-label>To date</mat-label>
  <input
    matInput
    [matDatepicker]="toPicker"
    placeholder="To date"
    [formControl]="selectedMonthandYear"
  />
  <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
  <mat-datepicker
    startView="multi-year"
    (monthSelected)="setMonthAndYear($event, toPicker)"
    #toPicker
  ></mat-datepicker>
</mat-form-field> -->

<div class="content">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular
    style="width: 100%; height: 350px"
    [rowData]="salesmanCollection"
    [columnDefs]="colDefsSalesman"
    [defaultColDef]="defaultColDef"
    [components]="frameworkComponents"
    [gridOptions]="gridOptions"
    class="ag-theme-quartz"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>

<div class="content">
  <ag-grid-angular
    style="width: 100%; height: 600px"
    [rowData]="collection"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [components]="frameworkComponents"
    [gridOptions]="gridOptions"
    class="ag-theme-quartz"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
