<p>
  <mat-form-field appearance="outline">
    <mat-label>Route Name</mat-label>
    <mat-select>
      <mat-option value="barshi">Barshi</mat-option>
      <mat-option value="ter">Ter</mat-option>
      <mat-option value="kalamb">Kalamb</mat-option>
      <mat-option value="Dhoki">Dhoki</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Store Name</mat-label>
    <input matInput>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Shop Address</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input matInput>
  </mat-form-field>
</p>



<p>
  <button mat-raised-button color="primary" routerLink="/dashboard">Add Shop</button>
</p>



