<button
  mat-raised-button
  color="primary"
  style="margin: 1em"
  [disabled]="this.collection.length == 0"
  (click)="exportToExcel()"
>
  Export to Excel
</button>

<div class="content">
  <!-- The AG Grid component, with Dimensions, CSS Theme, Row Data, and Column Definition -->
  <ag-grid-angular
    style="height: 700px"
    [rowData]="collection"
    [columnDefs]="colDefs"
    [defaultColDef]="defaultColDef"
    [components]="frameworkComponents"
    [gridOptions]="gridOptions"
    class="ag-theme-quartz"
    (gridReady)="onGridReady($event)"
  >
  </ag-grid-angular>
</div>
