<!-- <form class="centerFlex">
  <p>
    <mat-form-field appearance="outline">
      <mat-label>Select Search by Category</mat-label>
      <mat-select (selectionChange)="onSelectionChange($event.value)">
      <mat-option value="route">Search By Route</mat-option>
      <mat-option value="store">Search By Store</mat-option>
    </mat-select>
  </mat-form-field>
</p>
</form>

<div class="container">
  <div class="line"><mat-divider></mat-divider></div>
  <div class="line"><mat-divider></mat-divider></div>
</div> -->

<router-outlet></router-outlet>
