<!-- <p>
  <mat-form-field appearance="outline">
    <mat-label>Route Name</mat-label>
    <input matInput>
  </mat-form-field>
</p> -->

<p>
  <mat-form-field appearance="outline">
    <mat-label>Route Name</mat-label>
    <mat-select>
      <mat-option value="barshi">Barshi</mat-option>
      <mat-option value="ter">Ter</mat-option>
      <mat-option value="kalamb">Kalamb</mat-option>
      <mat-option value="Dhoki">Dhoki</mat-option>
    </mat-select>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Store Name</mat-label>
    <input matInput>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline" class="example-full-width">
    <mat-label>Shop Address</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Mobile Number</mat-label>
    <input matInput>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Bill Amount</mat-label>
    <input matInput>
  </mat-form-field>
</p>
<p>

  <mat-form-field appearance="outline">
    <mat-label>Amount Received</mat-label>
    <input matInput>
  </mat-form-field>
</p>
<p>

  <mat-form-field appearance="outline">
    <mat-label>Pending Amount</mat-label>
    <input matInput>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline">
    <mat-label>Payment option</mat-label>
    <mat-select>
      <mat-option value="cash">Cash</mat-option>
      <mat-option value="phonepay">Phone Pay</mat-option>
      <mat-option value="googlepay">Google Pay</mat-option>
      <mat-option value="netbanking">Net Banking</mat-option>
      <mat-option value="cheque">Cheque</mat-option>
      <mat-option value="other">Other</mat-option>
    </mat-select>
  </mat-form-field>
</p>


<p>
  <button mat-raised-button color="primary" routerLink="/dashboard">Submit</button>
</p>



