<form [formGroup]="recoveryFormGroup">
  <p>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      aria-readonly="isNavigated"
    >
      <mat-label>Route Name</mat-label>
      <mat-select
        formControlName="route"
        (selectionChange)="onRouteSelectionChange($event.value)"
      >
        <div *ngFor="let route of routeCollection">
          <mat-option value="{{ route.routeName }}">{{
            route.routeName
          }}</mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field
      class="example-full-width"
      floatLabel="always"
      appearance="outline"
    >
      <mat-label>Store Name</mat-label>
      <input
        [readonly]="isNavigated"
        type="text"
        formControlName="storeName"
        matInput
        [matAutocomplete]="auto"
        oninput="this.value = this.value.toUpperCase()"
      />
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="displayFn"
        (optionSelected)="onStoreSelected($event.option.value)"
      >
        <mat-option
          *ngFor="let option of filteredOptions | async"
          [value]="option"
        >
          {{ option.storeName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      class="example-full-width address"
    >
      <mat-label>Shop Address</mat-label>
      <textarea readonly="true" matInput formControlName="address"></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field
      class="example-full-width"
      floatLabel="auto"
      appearance="outline"
    >
      <mat-label>Bill Number </mat-label>
      <input
        [readonly]="isNavigated"
        matInput
        aria-label="State"
        formControlName="billNumber"
        [matAutocomplete]="bill"
        (keyup)="isNavigated ? undefined : OnBillNumberChanged()"
        oninput="this.value = this.value.toUpperCase()"
      />
      <mat-autocomplete
        #bill="matAutocomplete"
        (optionSelected)="onBillSelected($event.option.value)"
      >
        <mat-option
          *ngFor="let state of filteredBillNumbers | async"
          [value]="state.billNumber"
        >
          <small style="color: red">No : {{ state.billNumber }}</small> ,
          <small style="color: green">Amount: {{ state.billAmount }}</small> ,
          <small>Date : {{ getBillDate(state) }}</small>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field
      appearance="outline"
      floatLabel="always"
      class="example-full-width"
    >
      <mat-label>Comment</mat-label>
      <textarea matInput readonly="true" formControlName="comment"></textarea>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Bill Amount</mat-label>
      <input
        matInput
        type="number"
        readonly="true"
        formControlName="billAmount"
      />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="outline" floatLabel="auto">
      <mat-label>Amount Received</mat-label>
      <input
        matInput
        type="number"
        formControlName="amountReceived"
        (keyup)="OnAmountReceivedChanged()"
      />
    </mat-form-field>
  </p>
  <div>
    <div style="color: red" *ngIf="pendingValidation">
      Pending amount can not be less than 0.
    </div>
    <p>
      <mat-form-field appearance="outline" floatLabel="always">
        <mat-label>Pending Amount</mat-label>
        <input
          matInput
          readonly="true"
          type="number"
          formControlName="pendingAmount"
        />
      </mat-form-field>
    </p>
  </div>

  <p>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Receipt Number</mat-label>
      <input matInput formControlName="receiptNumber" toUppercase />
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" floatLabel="always">
      <mat-label>Payment option</mat-label>
      <mat-select
        formControlName="modeOfPayment"
        (selectionChange)="onPaymentModeChange($event.value)"
      >
        <div *ngFor="let paymentMode of modeOfPaymentCollection">
          <mat-option value="{{ paymentMode.mode }}">
            {{ paymentMode.mode }}
          </mat-option>
        </div>
      </mat-select>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" *ngIf="isCheque" floatLabel="always">
      <mat-label>Cheque Number</mat-label>
      <input matInput formControlName="chequeNo" toUppercase />
    </mat-form-field>
  </p>

  <p align="center">
    <button
      mat-raised-button
      color="primary"
      [disabled]="!(!recoveryFormGroup.invalid && !isClicked)"
      (click)="onAddRecoveryData()"
    >
      {{ buttonText }}
    </button>
  </p>
</form>
